<link rel="stylesheet" href="../css/add-edit-post.css">

<div ng-if="!token">
    <div class="container not-logged-in">
        <h2>I see you're not logged in.</h2>
        <hr>
        <p>Click here to login</p>
        <a class="btn btn-success btn-block" href="/login">Login</a>
        <hr>
        <p>Perhaps you don't have an account?</p>
        <a class="btn btn-primary btn-block" href="/register">Register now | It's free!</a>
        <div style="text-align:center">
            <img src="../images/login-pic-2.png" width="250px">
        </div>
    </div>
</div>

<div ng-if="token">
    <div ng-controller="addEditPostCtrl" class="container add-edit-post-form">
        <form ng-submit="submitEdit()" enctype="multipart/form-data">
            <div class="form-group">
                <h3>Edit post</h3>
                <hr>

                <div class="form-group">
                    <label for="type">Post Type</label> <br>
                    <input type="radio" name="type" ng-model="post.type" required value="sell"> Sell
                    <input type="radio" name="type" ng-model="post.type" required value="exchange"> Exchange
                    <input type="radio" name="type" ng-model="post.type" required value="mate"> Mate
                    <input type="radio" name="type" ng-model="post.type" required value="lost"> Lost
                    <input type="radio" name="type" ng-model="post.type" required value="found"> Found
                    <input type="radio" name="type" ng-model="post.type" required value="shelter"> Shelter
                </div>

                <div class="form-group">
                    <label for="species">Species</label>
                    <input type="text" name="species" ng-model="post.species" placeholder="Animal species" class="form-control">
                </div>

                <div class="form-group">
                    <label for="kind">Animal kind</label>
                    <input type="text" name="kind" ng-model="post.kind" placeholder="Animal Kind" class="form-control">
                </div>

                <div class="form-group">
                    <label for="gender">Animal gender</label> <br>
                    <input type="radio" name="gender" ng-model="post.gender" value="male"> Male
                    <input type="radio" name="gender" ng-model="post.gender" value="female"> Female
                </div>

                <!--check to be visible type exchange only -->
                <div ng-switch="post.type">
                    <div ng-switch-when="exchange">
                        <div class="form-group">
                            <label for="speciesB">Other Animal species </label> <br>
                            <input type="text" name="speciesB" required ng-model="post.speciesB" placeholder="Other Animal species" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="kindB"> Other Animal kind</label>
                            <input type="text" name="kindB" required ng-model="post.kindB" placeholder=" Other Animal Kind" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="genderB">Other Animal gender</label> <br>
                            <input type="radio" name="genderB" ng-model="post.genderB" value="male"> Male
                            <input type="radio" name="genderB" required ng-model="post.genderB" value="female"> Female
                        </div>
                    </div>
                </div>
                <!--check to be visible type exchange only -->

                <div class="form-group">
                    <label for="description">Description</label> <br>
                    <textarea type="text" rows="3" name="description" ng-model="post.description" placeholder="description" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="note">Notes</label>
                    <input type="text" name="note" ng-model="post.note" placeholder="Notes" class="form-control">
                </div>

                <div class="form-group">
                    <label for="postPic">Edit image</label> <br>
                    <input type="file" name="postPic" ng-File-Model="post.postPic" class="form-control" />
                </div>

                <!--check to be visible type sell only -->
                <div ng-switch="post.type">
                    <div ng-switch-when="sell">
                        <div class="form-group">
                            <label for="price">price (required)</label>
                            <input type="number" min="1" name="price" required ng-model="post.price" required placeholder="price" class="form-control" />
                        </div>
                    </div>
                </div>

                <!--remainig  upload -->
                <button type="submit" class="btn btn-primary">Edit</button>

        </form>

        <div ng-if="message">
            <div class="alert alert-danger" ng-if="error==true" type="danger">{{ message }}</div>
            <div class="alert alert-success" ng-if="error==false" type="danger">{{ message }}</div>
        </div>
        </div>
    </div>