
<form name="myForm" ng-controller="pass_ctrl">
    <label>
  New Password: <input type="text" id="npass" name="newPasssword" ng-model="formData.newPassword" required>
/////// if works
  password: <input ng-model="user.password" type="password" />
  Confirm: <input ng-model="user.passwordConfirm" type="password" match="user.password" match-caseless="true" />

      <button type="button" ng-click="submit()">Submit</button>
    </label>
    <div role="alert">
      <span class="error" ng-show="myForm.input.$error.required">
        Required!</span>
      <span class="error" ng-show="myForm.input.$error.email">
        Not valid email!</span>
    </div>
