<link rel="stylesheet" href="../css/forgetPassword.css">

<div ng-controller="pass_ctrl" class="container">

    <div ng-if="errorMessage" type="danger">{{ errorMessage }}</div>

    <div class="forgetPassword-form">
        <form action="/" id="pass">
            <div class="form-group">
                <label>Enter your new desired password</label>
                <input type="password" id="password" ng-model="formData.password" />
            </div>
            <button type="button" ng-click="pop()" class="btn btn-primary btn-primary">Change Password</button>
        </form>
    </div>

</div>