
      <!-- up & down vote form -->
      <form ng-controller="reviewPostController" ng-submit="submitVote()">
     <label class="radio-inline">
       <input type="radio" value="up"   ng-model="formData.vote">Up-vote
     </label>
     <label class="radio-inline">
       <input type="radio" value="down" ng-model="formData.vote">Down-vote
     </label>
     <br> <br>
     <button type="button" class="btn btn-success">Submit</button>
    </form>


   <!-- info form  -->
   <hr>
   <form>
   <p><strong>Owner Name :</strong></p>
   <p><strong>Mobile Number :</strong></p>
   <p><strong>Email :&nbsp;</strong></p>
   <p><strong>Related Pictuers :&nbsp;</strong></p>
   <a href="">Visit Owner's Profile</a>
   </form>
