body {
    background-image:linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.1)),
                     url("../images/about-pic.jpeg");
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

#jumbo {
    padding-top: 10px;
}

#info {
    border: 1px solid #dfdede;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 49%;
    min-width: 400px;
    margin-top: 50px;
    margin-left: 1%;
    margin-bottom: 80px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}

.pa {
    color: darkblue;
}
h1{
  text-align: center;
}
