.editProfile-main {
  width: 60%;
  min-width: 400px;
  margin-top: 50px;
  margin-bottom: 90px;
  border: 1px solid #dfdede;
  border-radius: 5px;
  background-color: white;
}

.editProfile-section {
  padding: 20px;
  margin-bottom: 15px;
}

.editProfile-section h4 {
  margin-bottom: 1.25em;
}

.editProfile-section:nth-of-type(1) {
  padding-top: 0;
}

.editProfile-section:nth-of-type(2) {
  border-top: 1px solid #d0d0d0;
}

.editProfile-section:last-of-type {
  border-top: 5px solid #d9534f;
}

.editProfile-section:last-of-type h4 {
  font-weight: bold;
  color: #d9534f;
}
