body {
  background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
                    url("../images/edit-profile-pic.jpg");
  background-size: cover;
  background-position: center;
}

.setting-forms {
  border: 1px solid #dfdede;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  min-width: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 30px;
  margin-bottom: 70px;
}

.setting-forms h2 {
  margin-left: 20px;
}

.delForm, .editForm, .passForm {
  padding: 20px 20px 20px 20px;
}

.editForm {
  padding-top: 0;
  margin-bottom: 10px;
}

.passForm {
  border-top: 1px solid rgb(198, 198, 198);
  padding-top: 15px;
  margin-bottom: 10px;
}

.delForm{
  border-top: 3px solid #C9302C;
  padding-top: 15px;
}
