.login-form {
  width: 30%;
  min-width: 400px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
}

.login-form h3 {
  margin-bottom: 30px;
}

.login-form label {
  font-weight: 200;
  color: rgb(79, 79, 79);
}
