h2 {
    margin-bottom: 0;
}

p {
    padding-left: 2px;
    color: gray;
    margin-top: 0;
}

#profile-edit-btn {
    margin-bottom: 0px;
}

#profile-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#edit-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#delete-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color : red ;
}

#new-btn {
    width: 95%;
}

#view-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(0, 70, 160);
}

#stars1,
#stars2,
#stars3,
#stars4 {
    display: inline;
}

#send-btn {
    width: 10%;
    font-size: 15px;
    margin-top: 5px;
    border: 1px solid green;
}

#write-btn {
    margin: 10px 0 10px 0;
}

#rate-btn {
    margin: 10px 0 0 0;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-link {
     background:none!important;
     color:rgb(0, 100, 210);
     border:none; 
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #444; 
     cursor: pointer;
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    width:90%;
    margin-left: 40px;
}

.modal-header {
    text-align: center;
    background: rgba(100, 100, 100, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.col-md-3 {
    margin-bottom: 10px;
}

.col-md-9 {
    margin-bottom: 10px;
}
.glyphicon-star-full:before {
            color: gray;
}

.glyphicon-star:before {
            color: gold;

}



.glyphicon-envelope:before {
    padding-right: 2px;
}

.glyphicon-phone:before {
    padding-right: 2px;
}
